<h3>An Occured Processing your request</h3>
<h5>Pleaase Contact us on abc@gmail.com</h5>
<hr/>
@*<h3>Exception Details</h3>
<div class="alert alert-danger">
    <h5>Exception Path</h5><hr/>
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger">
    <h5>Exception Message</h5><hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Exception StackTrace</h5><hr />
    <p>@ViewBag.StackTrace</p>
</div>*@